##
## Title: template for testing matrix
## Author: Sebastien Lelong, Copyright (c) 2008, all rights reserved.
## Adapted-by:
## Compiler:
## 
## This file is part of jallib (http://jallib.googlecode.com)
## Released under the BSD license (http://www.opensource.org/licenses/bsd-license.php)
## 
## Description: template to create the main testing matrix
##              

#def header
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	 <head>
	 </head>
	 <body>
	 <h1>jallib testing matrix</h1>
#end def

#def matrix
	
	<table border=1 width="100%" cellpadding=5>
	<tr>
		<th>PIC</th>
		<th>Testing meter</th>
		<th>Libraries</th>
	</tr>

	#for pic,data in sorted($test_results.items(),lambda x,y: cmp(x[0],y[0]))
	<tr>
		<td align="center" width="10%"><a href="test_${pic}.html">$pic</a></td>
		#silent print "PIC: %s" % pic
		#silent print "true: %s" % data['libs'][True]
		#silent print "false: %s" % data['libs'][False]
		#silent print "none: %s" % data['libs'][None]
		#set note = int($compute_meter($data))
		#set label = $get_meter_label($note)
		#set true,false,none = $sample_stat($data)
		#set sample_num = sum([true,false,none])
		#silent print "..."
		<td align="center" width="15%" nowrap="true">
			<div style="font-size: 10px;">$label</div>
			<img alt="$note% / $label" src="http://chart.apis.google.com/chart?cht=bhs&amp;chs=200x20&amp;chd=t:$note%7C100&amp;chco=4d89f9,c6d9fd&amp;chbh=15"/>
		</td>
		## precedence: true libs > none libs > false libs
		#set true_libs = set(data['libs'][True])
		#set none_libs = set(data['libs'][None]).difference(true_libs)
		#set false_libs = set(data['libs'][False]).difference(none_libs).difference(true_libs)
		<td>
			#set strtrue = ", ".join(sorted(true_libs))
			#set strnone = ", ".join(sorted(none_libs))
			#set strfalse = ", ".join(sorted(false_libs))
			<table width="100%">
			<tr><td width="10%"><i>success</i></td><td><span style="color: green;">$strtrue</span></td></tr>
			<tr><td width="10%"><i>untested</i></td><td><span style="color:blue;">$strnone</span></td></tr>
			<tr><td width="10%"><i>failed</i></td><td><span style="color: red;">$strfalse</span></td></tr>
			</table>
			<div style="font-size: 12px;">
				<i>number of tests: </i>$sample_num&nbsp;&nbsp;<i>pass: </i>$true&nbsp;&nbsp;<i>fail: </i>$false&nbsp;&nbsp;<i>unknown: </i>$none
			</div>
		</td>
	</tr>
	#end for
	</table>
	
#end def

#def footer
	<br>
	<div align="right"><a href="http://jallib.googlecode.com">jallib -- http://jallib.googlecode.com</a></div>
	</body>
</html>
#end def

#def desc
	<div>
		The following matrix shows tests performed on several target chips.<br/>
		Clicking on a <b>PIC</b> name will display a detailed test result page, if available.<br/>
		The <b>testing meter</b> is approximate measure showing how fully tested a PIC is.<br/>
		Finally, the <b>libraries</b> shows the <span style="color: green;">successfully tested</span>,<br/>
		the <span style="color:blue;">not yet tested</span> and <span style="color:red;">failed</span> libraries.
	</div>
	<br/>
	<div>
		<i>If your favorite PIC isn't tested yet, and poorly tested, <a href="http://groups.google.com/group/jallib">join us</a><br/>
		and help up improve jallib. We'll provide some test files so you can give a try a report test results.</i>
	</div>
	<br/>


#end def

#def main
   $header
   $desc
   $matrix
   $footer
#end def
