
#def head
	## Single line header: strip
	#set title = $dhead['Title'].strip()
	#set author = $dhead['Author'].strip()
	#set adapted_by = $dhead['Adapted-by'].strip()
	#set compiler = $dhead['Compiler'].strip()
	## Multiline header
	#set description = $dhead['Description'].split("\n")
	#if $dhead.has_key('Sources') and $dhead['Sources']
		#set sources = $dhead['Sources'].split("\n")
	#else
		#set sources = []
	#end if
	#if $dhead.has_key('Notes') and $dhead['Notes']
		#set notes = $dhead['Notes'].split("\n")
	#else
		#set notes = []
	#end if
\#summary $title
## Force labels so jalapi doc can be filtered from wiki page list
\#labels Phase-Implementation, Type-Jalapi

= $libname =


|| *Author* || $author ||
|| *Adapted-by* || $adapted_by ||
|| *Compiler* || $compiler ||


*Description*

## Indent multiline content
#for d in description
  $d
#end for


#if $sources
*Sources*

#for s in $sources
  $s
#end for
#end if


#if $notes
*Notes*

#for n in $notes
  $n
#end for
#end if


*Dependencies*

#for d in $ddeps.keys()
  * [$wikiwordify($d) $d]
#end for

#end def

#def display_dict(title,ddict)

== $title ==

#for v,doc in $ddict.items()
	#if doc
		#set dsplit = doc.split("\n")
	#else
		#set dsplit = []
	#end if
 * *`$v.strip()`*

#for d in dsplit
   $d
#end for

#end for
 
#end def

#def api

= API =

$display_dict("Global variables/contants",$dvarconst)
$display_dict("Procedures",$dproc)
$display_dict("Functions",$dfunc)

#end def

#def samples

= Related samples =

#if $dsamples
Here are the list of samples which use this library:

	#for file,url in $dsamples.items()
 * [$url $file]
	#end for
#else
_No sample found..._
#end if

#end def

#def main
$head

$api

$samples
#end def

$main
