## Use to generate safe anchor
#import md5, os, sys, re

#def txt2html(what)
	## Convert GC wiki to html, *BUT* keep line feed as <br> !
	<pre>$what</pre>
#end def

#def header(libname,dhead,ddeps)
	## Single line header: strip
	#set title = dhead['Title'].strip()
	#set author = dhead['Author'].strip()
	## Adapted-by is not mandatory
	#set adapted_by = dhead.get('Adapted-by') and dhead.get('Adapted-by').strip() or ""
	#set compiler = dhead['Compiler'].strip()
	## Multiline header
	#set description = dhead['Description']
	#if dhead.has_key('Sources') and dhead['Sources']
		#set sources = dhead['Sources']
	#else
		#set sources = ""
	#end if
	#if dhead.has_key('Notes') and dhead['Notes']
		#set notes = dhead['Notes']
	#else
		#set notes = ""
	#end if
    
	<a href="#toc" name="$libname">
    <h1>$libname</h1>
	</a>

    <div>
		<font size="+1"><i>$title</i></font>
	</div>

	<br/>

    <div class="narrow">
        
	<table>
	<tr>
		<td style="border: 1px solid #aaa; padding: 5px;">
			<b>Author</b>
		</td>
		<td style="border: 1px solid #aaa; padding: 5px;">
			#set pat = re.compile("\(c\)",flags=re.I)
			#set replauth = pat.sub("&copy;",$author)
			$replauth
		</td>
	</tr>
	<tr>
		<td style="border: 1px solid #aaa; padding: 5px;">
			<b>Adapted-by</b>
		</td>
		<td style="border: 1px solid #aaa; padding: 5px;">
			$adapted_by
		</td>
	</tr>
	<tr>
		<td style="border: 1px solid #aaa; padding: 5px;">
			<b>Compiler</b>
		</td>
		<td style="border: 1px solid #aaa; padding: 5px;">
			$compiler
		</td>
	</tr>
	</table>

	<br/>
	
	<b>Description</b>
	<p>
	$txt2html($description)
	</p>
	<br/>

	#if $sources
	<b>Sources</b>
	<p>
	$txt2html($sources)
	</p>
	<br/>
	#end if

	#if $notes
	<b>Notes</b>
	<p>
	$txt2html($notes)
	</p>
	<br/>
	#end if
	
	<b>Dependencies</b>
	<p>
	#if ddeps
		<ul>
		#for d in ddeps.keys()
			#set l = $html_linker(d)
			<li><a href="$l">$d</a></li>
		#end for
		</ul>
	#else
		<i>No dependency found</i>
	</p>
	<br/>
	#end if

#end def

#def _create_anchor(s)
	#return md5.md5(s).hexdigest()
#end def

#def _display(ltup,short)
	<ul>
	#for v,doc in ltup
		<li>
			#set anchor = $_create_anchor($v)
			#if short
				<b><code name="code" class="python"><a href="#$anchor">$v</a></code></b>
			#else
				<b><code name="code" class="python"><a name="$anchor" href="#summary">$v</a></code></b>
				#if doc
				<p>$txt2html($doc)</p>
				#else
				<p><i>No documentation found</i></p>
				#end if
			#end if
		</li>
	#end for
	</ul>
#end def

#def display_dict(title,ddict,short=False)
	<h3><a name="$title">$title</a></h3>
	#set private = [(v,doc) for v,doc in $ddict.items() if v.startswith("_")]
	#set public = [(v,doc) for v,doc in $ddict.items() if not v.startswith("_")]
	$_display($public,$short)
	#if private
	<i><small>Private</small></i>
	$_display($private,$short)
	<br/>
	#end if
#end def


#def api(dvarconst,dproc,dfunc)
	<h2><a name="api">API details</a></h2>

	$display_dict("Global variables/contants",$dvarconst)
	$display_dict("Procedures",$dproc)
	$display_dict("Functions",$dfunc)
#end def

#def summary(dvarconst,dproc,dfunc)
	<h2><a name="summary">Summary</a></h2>

	$display_dict("Global variables/contants",$dvarconst,short=True)
	$display_dict("Procedures",$dproc,short=True)
	$display_dict("Functions",$dfunc,short=True)
#end def

#def samples(dsamples)
	<h2><a name="related_samples">Related samples</a></h2>
	#if dsamples
	Here are the list of samples which use this library:<br/><br/>
	<table border=1>
	#for (pic,file),url in sorted(dsamples.items(),lambda x,y: cmp(x[0][0],y[0][0]))
		#if $locallinks
			## ensure it actually exists !
			#set samplefile = os.path.join('%s' % $sampledir,'%s' % $file)
			#if not os.path.isfile(samplefile)
				#silent print >> sys.stderr, "sample %s does not exist" % samplefile
				#continue
			#end if
			<tr>
			<td><b>$pic</b></td><td><a href="../../sample/$file" target="_blank">$file</a></td>
			</tr>
		#else
			<tr>
			<td><b>$pic</b></td><td><a href="$url" target="_blank">$file</a></td>
			</tr>
		#end if
	#end for
	</table>
	#else
		<i>No sample found</i>
	#end if
#end def

#def html_linker(lib)
	#return "%s.html" % lib
#end def

#def content(dhead,dproc,dfunc,dvarconst,ddeps,libname,dsamples)
        <div id="page">
        
            <div id="pagecontent">

			$header($libname,$dhead,$ddeps)
			<br/>
			$summary($dvarconst,$dproc,$dfunc)
			<br/>
			$api($dvarconst,$dproc,$dfunc)
			<br/>
			$samples($dsamples)
			<br/>

            </div>
        </div>

#end def


#def main
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
    		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
		<title>$libname - jallib API doc</title>
    </head>
    <body>
		
		$content($dhead,$dproc,$dfunc,$dvarconst,$ddeps,$libname,$dsamples)
	</body>
</html>
#end def


#def main_singlepage
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
    		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
		<title>Jalapi - jallib API doc</title>
    </head>
    <body>

    <h1>jalapi</h1>
	<b>Welcome to jalapi, the jallib API documentation</b><br/>
	<p><a href="http://jallib.googlecode.com">http://jallib.googlecode.com</a></p>

	<a name="toc">
	<h3>Table of Content</h3>
	</a>


	#set libnames = [l[1][0] for l in $infos]
	#for l in libnames
		<a href='#$l' target='lib_desc'>$l</a><br/>
	#end for

	<hr/>

	#for (dhead,dproc,dfunc,dvarconst,ddeps),(libname,dsamples) in $infos
		$content($dhead,$dproc,$dfunc,$dvarconst,$ddeps,$libname,$dsamples)
		<br/>
		<hr/>
	#end for

	</body>
</html>
#end def

