#def main
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
    </head>
    <body>
		$content
	</body>
</html>
#end def


#def meter_eval(data):
   #set samples = data['samples']
   #set tests = data['tests']

   #set slen = len(samples)
   #set tlen = len(tests)
   #set sgood = len([s for s in samples if samples[s]['pass']])
   #set tgood = len([s for s in tests if tests[s]['pass']])
   #set sscore = slen and float(sgood) / float(slen) or 0.0
   #set tscore = tlen and float(tgood) / float(tlen) or 0.0
   #set gscore = (10 * tscore + 90 * sscore) / 100.0
   #return sscore,tscore,gscore

#end def

#def content
   #set chips = sorted([k for k in $test_results.keys()])
   #set tests = sorted(list(set([s for k in $test_results.keys() for s in $test_results[k]['tests']])))
   <table border=1>
   <tr>
	  <th>Target chip</th>
	  <th>Testing meter</th>
	  #for t in tests
		 <th>$t</th>
	  #end for
   </tr>
   #for chip,data in sorted($test_results.items(),cmp=lambda a,b: cmp($meter_eval($a[1])[-1],$meter_eval($b[1])[-1]),reverse=True)
   <tr>
	  #set s,t,g = $meter_eval($data)
	  #silent s,t,g = map(lambda x: x * 100,(s,t,g))
	  <td><a href="test_${chip}.html">$chip</a></td>
	  <td>
		 ###<img src="http://chart.apis.google.com/chart?cht=bhs&amp;chs=200x75&amp;chd=t:$s,$t,$g%7C100,100,100&amp;chco=C22E30,F99393&amp;chbh=10&amp;chxt=x,y&amp;chxl=1:%7Cglobal%7Ctests%7Csamples"/>
		 <img src="http://chart.apis.google.com/chart?cht=bhs&amp;chs=200x35&amp;chd=t:$s%7C100&amp;chco=C22E30,F99393&amp;chbh=10&amp;chxt=x,y&amp;chxl=1:%7Cglobal"/>
	  </td>
	  #for t in tests
		 #try
			#set res = $test_results[chip]['tests'][t]['pass']
			#if res == True
			<td style="background-color: green;">$res</td>
			#elif res == False
			<td style="background-color: red;">$res</td>
			#else
			<td>$res</td>
			#end if
		 #except KeyError:
			<td>?</td>
		 #end try
	  #end for
   </tr>
   #end for
   </table>
#end def
