#def header
-- Title: ADC pin definitions, arbitrarily grouped according to ADC pins
-- Author: Sébastien Lelong, Copyright (C) 2009, all rights reserved. 
-- Adapted-by: 
-- Compiler: >=2.4k
--
-- This file is part of jallib (http://jallib.googlecode.com)
-- Released under the ZLIB license (http://www.opensource.org/licenses/zlib-license.html)
--
-- Description: this library acts as a wrapper. When included, it'll define some
-- constants and aliases according to involved target chip.
--
--
#end def

#def ifdoom
	#for i,adc_grp_key in enumerate(sorted($adc_an_grp.keys()))
		#set pics = $adc_an_grp[adc_grp_key]
		#set condition = " | ".join(map(lambda x: "target_chip == PIC_%s" % x.upper(),pics))
		#set nchannel = len(adc_grp_key)

-- JALLIB_ADC_GRP $i
-- Number of channels: $nchannel
-- Pin association: 
		#for o,a in adc_grp_key
--      $o <-> $a
		#end for
--
if $condition then

   const byte ADC_NTOTAL_CHANNEL = $nchannel
   		## sorted by ADC pins
   		#for o,a in sorted(adc_grp_key,cmp=lambda x,y: cmp(x[1],y[1]))
			#set devpin = "pin_%s" % o[1:]
   alias adc_pin_$a is $devpin
   alias adc_pin_${a}_direction is ${devpin}_direction
		#end for

end if

	#end for
#end def

#def main
$header
$ifdoom
#end def

$main
